.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  top: 0;
  left: 0;
  width: 100%;
}
.header > * {
  padding: 0 20px;
}
.header__motto {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.header__nav-route:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.vinyl-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.vinyl-logo__vinyl-icon {
  width: 50px;
  height: 50px;
  display: block;
  transition: transform 0.3s ease;
}
.vinyl-logo__text {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
  transform: scale(1.1);
  font-style: italic;
}
.vinyl-logo__text:hover {
  color: rgb(255, 255, 255);
}
.vinyl-logo:hover .vinyl-logo__vinyl-icon {
  transform: scale(1.1);
}