.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    &__form {
        display: flex;
        align-items: center;
        background: #f5f5f5;
        border-radius: 5px;
        padding: 5px 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        }

        input {
            flex: 1;
            border: 1px solid #ccc;
            outline: none;
            font-size: 16px;
            padding: 10px 15px;
            border-radius: 5px;
            background: #fff;
            color: #333;
            transition: border-color 0.3s ease-in-out;
            margin-right: 10px;

            &::placeholder {
                color: #777;
            }

            &:focus {
                border-color: rgb(219, 45, 33);
            }
        }
    }
}
