@use './styles/reset.scss' as *;

.signup {
    color: rgb(18, 18, 18);
}

button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(219, 45, 33);
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(219, 45, 33);
        box-shadow: 0px 4px 10px rgba(219, 45, 33, 0.5);
    }

    &:active {
        transform: scale(0.95);
        background-color: rgb(18, 18, 18);
        color: rgb(255, 255, 255);
    }
}

.checkbox-public {
    width: 20px;
    height: 20px;
}

.form {
    &__toggle {
        color: black;

        &:hover {
            color: red;
        }
    }
}
